<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Advance python quesitions</title>
 </head>
  <body bgcolor="#cc842d">
    <h1>Advanced python interview questions</h1>
    <ol>
      <div class="one">


      <li>what is the class?</li>
      <p>Class is noting but a container or structure, it is used to represent business logic.</p>
      </div>

      <div class="two">
      <li>what is the object?</li>
      <p>object is the instance of a class or physical existance of a class or for inserting non static material to the
      we use object.</p>
      </div>
    </ol>
  </body>
</html>
