<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
  </head>
  <body>

    <div class="nav">
      <a href="#">Home</a>
      <a href="./material">Material</a>
      <a href="./interview">Interview</a>
      <a href="./programs">programs</a>
      <a href="./contact">contact</a>
      <a href="./registration">Register</a>
      <a href="./login">Login</a>
    </div>

    <div class="heading">
      <h2>Let's improve your life through python</h2>
    </div>

    <div class="column1">
      <h3>Introduction</h3>
      <p class="pre1">Python language was developed by guido van rossum. He is invented this at his project at science
        and mathematics research center. It was developed in 1989 and released in 1991. Python 2.x should not worked after 2020.
        Python is a general purpose language, which is highlevel, object oriented, interpreted, platform independent, scripting
        language etc.</p>

    </div>
    <div class="column2">
      <h3>Features</h3>
      <ul>
        <li>Open source language</li>
        <li>General purpose language</li>
        <li>Object oriented programming language</li>
        <li>Simple and easy</li>
        <li>Interpreted language</li>
        <li>Scalabl</li>
        <li>Extensible</li>
        <li>High level language</li>
        <li>Dynamic typed language</li>
        <li>Scription lanaguage</li>
      </ul>
    </div>
    <div class="column3">
      <h3>Versions of python</h3>
      <ol>
        <li>python 1.x</li>
        <li>python 2.x</li>
        <li>python 3.x</li>
      </ol>
    </div>
  </body>
</html>
