<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration form</title>
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">
  </head>
  <body>
    <div class="one">
      <h1><center>Registration Form</center></h1>
      <form class="" action="./insert" method="post">
        {% csrf_token %}

      <table width="100%" border="0" cellspacing="20px">
        <tr>
          <td ><label for="fname">First Name</label></td>
          <td ><input id="fname" type="text" name="t1" autofocus></td>
        </tr>

        <tr>
          <td><label for="lname">Last Name</label></td>
          <td><input id="lname" type="text" name="t2"></td>
        </tr>

        <tr>
          <td ><label for="uname">User Name</label></td>
          <td ><input id="uname" type="text" name="t3"></td>
        </tr>

        <tr>
          <td><label for="pass">Password</label></td>
          <td><input id="pass" type="password" name="t4"></td>
        </tr>

          <tr>
          <td ><label for="cpass">Conform Password</label></td>
          <td ><input type="password" name="t5"></td>
        </tr>

        <tr>
          <td><label for="email">Email Id</label></td>
          <td><input id="email" type="email" name="t6"></td>
        </tr>

        <tr>
          <td><label for="mob">Mobile Number</label></td>
          <td><input id="mob" type="numbert" name="t7" colspan="2"></td>
        </tr>

        <tr>
          <td><label for="gender">Gender</label></td>
          <td><select name="t8">
            <option>Select gender</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
            <option value="o">Others</option>
          </select></td>
        </tr>

          <tr>
          <td><label for="nation">Nationality</label></td>
          <td><input id="nation" type="text" name="t9" value="Indian" readonly></td>
        </tr>
          </table>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
    </form>
    </div>
  </body>
</html>
